.container {
    white-space: pre;
    height: auto;
    width: auto;
    padding: 5px;
    background-color:azure;
    background-image: url(mosaico.png);
    background-repeat:inherit; }

h2 {
    background-color: #1abc9c;
    border: 4px solid black;
    padding: 5px;
    font-family: "Lato", sans-serif;
}

h1 {
    background-color: #1abc9c;
    padding: 10px;
    border: 4px solid black;
    font-family: "Lato", sans-serif;
}

p {
    background-color: azure;
    border: 4px ridge black;
    border-radius: 0.5%;
    padding: 10px;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    width: 90%;
}

img {
    width: 300px;
    height: 300px;
    justify-content: left;
    border: 4px solid black;
}
