.container {
    white-space: pre;
    height: auto;
    width: auto;
    padding: 5px;
    background-color:azure;
    background-image: url(mosaico.png);
    background-repeat:inherit; }

h2 {
    background-color: #1abc9c;
    border: 4px solid black;
    padding: 0;
    font-family: "Lato", sans-serif;
}

h1 {
    background-color: #1abc9c;
    border: 4px ridge black;
    padding: 0;
    font-family: "Lato", sans-serif;
}

h3, h4, p, ul {
    background-color: azure;
}

img {
    width: 300px;
    height: 300px;
    justify-content: left;
    border: 4px solid black;
}
