.container {
  margin: 0px;
  width: auto;
  height: 600px;
  background: #1abc9c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:url(Tsunami_by_hokusai_19th_century.png);
  background-position: center;
  background-size: cover;
  
  h1 {
    font-size: 52px;
    color: rgb(21, 212, 104);
    text-shadow: 2px 2px rgb(0, 0, 0);

  }

  a {
    font-weight: 700;
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: -10px;
  }

}